{
  "extends": "stylelint-config-standard",
  defaultSeverity: "warning",
  "plugins": [ "stylelint-order" ],
  "rules": {
    "number-leading-zero": "never",
    "order/properties-alphabetical-order": true
  }
}
